name: Ping Servers

on: [push]

jobs:
  ping_servers:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3.5.2
    - name: Ping Servers
      shell: powershell
      run: .\script2.ps1
      # replace with your own script name and server names
